*, *:before, *:after { box-sizing: border-box; }

body { margin: 0; }

button:not(:disabled):hover,
input[type=submit]:not(:disabled):hover,
input[type=file]:not(:disabled):hover { cursor: pointer; }

*:disabled { opacity: 0.6; }
*:disabled:hover { cursor: not-allowed; }
